/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: #4499ff;*/
  background-image: url(../img/abstract-wave.jpg);
  background-size: auto 100vh; 
  font-family: 'Sriracha', cursive;
  height: 100vh;
  font-size: 12px;
}

/* = = = =   breakpoint   = = = =  */
/* Se a tela do mobile tiver pelo menos 400px, carregará estes estilos exclusivos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
/* Se a tela do mobile tiver pelo menos 600px, carregará estes estilos exclusivos*/
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
   
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
    /* background: aquamarine; */
    /* transition: background-color, color, 2s; */
}

.menu a:active,
.menu a:hover {
  background-color: orange;
  color: black;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 500ms animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  /* ponto inicial */
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  /* ponto final */
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
/* é possível intruduzir fases intermediárias */
}

/*aglutinando classe com a vírgula*/
.site-subtitle, 
.site-title {
  color: indigo;
  text-align: center;
}

.site-title {
  font-size: 4em;
  /* a calibração da fonte em "em" (unidade relativa)
  resulta na variação do tamanho da fonte proporcional à tela */
  font-family: 'Lobster', cursive;
}

.site-subtitle {
 font-style: italic;
 font-family: 'Sriracha', cursive;
 line-height: 1.8em;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family:  'Carter One', cursive;
  color: indigo;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre p {
  color: indigo;
  text-indent: 1.4em; /* recuo de parágrafo */
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a {
  color: indigo;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: rgb(0, 183, 255);
  text-decoration: none;
  color: rgb(221, 220, 155);
}

.sobre .avatar img {
  clip-path: border-box;
  margin-left: 2em;
  float: right;
}

@media (min-width: 600px) {
  .sobre .avatar img {
    clip-path: circle(64px at 82px 108px);
    float: right;
  }
}


.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

/* .img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
} */

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 10px black;
}